<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/informationPages.css" />
  </head>

  <body>
    <div id="wrapper">
      <div class="container">
        <%- include("partials/navbar", {firstName: loggedUser ?
        loggedUser.firstName : ""}) %>

        <div class="mainDiv aboutDiv">
          <div class="jumbotron">
            <h1 class="display-4">אודות</h1>
            <p class="lead">
              הרעיון לפרויקט שכב אצלי במגירה כבר שנים... הוא נולד בימי פייסבוק
              הראשונים, כשכפתור
              <span class="handWriteFontEnglish"> "See friendship" </span>
              הופיע ואפשר לי לראות את היסטוריית הברכות שכתבנו אחד לשני.
              <br />
              האפשרות הזו הוסיפה רובד נוסטלגי, כשכל שנה בדקתי מה השתנה ומה עשינו
              יחד, אבל גם אפשרה לי להשוות ולראות שכבר איחלתי את ה-כ-ל.
              <br />
              האתר הזה הוא הפתרון שלי, להכין ברכה אישית וחמודה!
            </p>

            <hr class="my-4" />
            <h1 class="display-4">קצת עלי</h1>

            <p class="lead">
              אני גליה, באר-שבעית כבר שנתיים.
              <br />
              בעברי הרחוק - מפתחת פלאש.
              <br />
              בעברי הקרוב - מדריכה ומפתחת הדרכה ללימוד תכנות בעמותת תפוח.
              <br />
              ובעתידי - מפתחת
              <span class="handWriteFontEnglish"> Full Stack. </span>
            </p>
            <p class="lead">
              האתר הוכן במסגרת קורס פיתוח אתרים במכללת
              <span class="handWriteFontEnglish">INT </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
