<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <style>
      .mainDiv {
        margin: auto auto;
        padding: 30px;
        transform: translate(0, 10%);
        width: 1000px;
        border-radius: 5%;
      }
      .homepageHeadline {
        margin-bottom: 5%;
        text-align: center;
        font-size: xx-large;
      }
      .homepageContent {
        font-size: large;
        text-align: center;
        margin-bottom: 10%;
      }
      .jumbotron {
        background-color: transparent;
        margin-top: 60px;
      }
      .btn {
        background-color: #faa12c;
      }
      .homepageImg {
        width: 300px;
        position: absolute;
        left: 0;
        top: -10px;
        z-index: -10;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">
      <div class="container">
        <%- include("partials/navbar", {firstName: loggedUser ?
        loggedUser.firstName : ""}) %>

        <div class="mainDiv">
          <img class="homepageImg" src="/images/balloons_6.png" alt="" />
          <div class="jumbotron ">
            <h1 class="display-4">ברוכים הבאים לאתר מחולל הברכות</h1>
            <p class="lead">
              המקום ליצירת כרטיסי ברכה מושקעים בקלות!
            </p>
            <hr class="my-4" />
            <% if (!loggedUser) { %>
            <a class="btn btn-lg" href="/register" role="button"
              >הצטרפו עכשיו!</a
            >
            <% } else { %>
            <a class="btn btn-lg" href="/cards/new" role="button">צרו ברכה!</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
