<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>
    <form action="/login" method="post">
      <label for="username">שם משתמש</label>
      <input type="text" name="username" id="username" /><br />
      <label for="password">סיסמה</label>
      <input type="text" name="password" id="password" />
      <button type="submit">היכנס</button>
    </form>
  </body>
</html>
