* {
  box-sizing: border-box;
}
html {
  direction: rtl;
}
body {
  margin: 0;
  font-family: "GveretLevin";
}
.handWriteFontEnglish {
  font-family: "Pacifico", cursive;
}
#wrapper {
  width: 100%;
  position: relative;
}
#wrapper > .container {
  width: 1140px;
  margin: 0 auto;
}
